<center>

<%= button_to "recevoir un email", emails_path, data: { turbo_frame: "new_email" } %>
<br>
<%= @emails.count %>
<%= turbo_frame_tag "new_email" do %>
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td>Object</td>
            <td>Body</td>
            <td>Option</td>
          </tr>
          <% @emails.each do |email| %>
            <%= render 'email', email: email %>
          <% end %>
        </table>
      </td>
    </tr>
  </table>
<% end %>

</center>